<!-- Modal -->
<div class="modal fade" id="AddRootCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

          <form class="example-form" [formGroup]="categoryForm">
              <mat-form-field style="width: 100%; padding:10px;">
                 <input class="input" matInput [formControl]="getName()" placeholder="Name Of Product">
                 <mat-error *ngIf="getName().invalid">{{errMsgName()}}</mat-error>
              </mat-form-field>  
              <div class="modal-footer">
                  <button mat-raised-button class="btnn" type="button" data-dismiss="modal">Close</button>
                  <button mat-raised-button color="primary" type="submit" (click)="AddRootCategory()" [attr.data-dismiss]="dataDismiss" >Add</button>
                </div>

          </form>
    </div>
  </div>
</div>
